<div class="container">
  <%= render partial: "user_card", locals: { user: @user } %>
  <div class="row m-3 justify-content-center">
    <div class="col-md-12 col-lg-9 offset-md-1 show-card">
      <h5>Bio</h5>
      <p><%= @user.bio %></P>
    </div>
  </div>

  <% @user.recent_posts.each do |post| %>
    <%= render partial: "post_card", locals: { user: @user, post: post } %>
  <% end %>

  <div class="row m-3 justify-content-center">
    <%= link_to("See all posts...", @user.id.to_s+'/posts', class: "btn btn-outline-secondary") %>
  </div>
</div>
