.nav-logo {
  background: #d30001;
  border-radius: 100%;
  height: 86px;
  position: absolute;
  top: 40px;
  transition: background 0.25s cubic-bezier(0.33, 1, 0.68, 1);
  width: 86px;
  z-index: 2;
}

.nav-logo:hover {
  background: #261b23;
}

.nav-title {
  text-decoration: none;
  margin-left: 7rem;
  position: relative;
  top: 11px;
}

.nav-logo::after {
  background-image: url("logo.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  content: '';
  filter: brightness(0) invert(1);
  height: 24px;
  left: 9px;
  position: absolute;
  top: 26px;
  width: 67px;
}
